body {
  text-align: center;
  margin: auto;
  font-weight: bold;
}
/* input {
  border: 2px solid rebeccapurple;
  padding: 3px;
} */
.content {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}
.inner-content {
  display: flex;
  align-items: center;
}
@media print {
  body * {
    visibility: hidden;
  }
  .output,
  .output * {
    visibility: visible;
  }

  .content {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
  }
  .inner-content {
    display: flex;
    align-items: center;
  }
}
